body{
    margin: 0;
    padding: 0;
    height: 100%;
   
   
}




*{
    text-decoration:none ;
    
       /* outline: 1px solid red; /* Shows boundaries */
    
    
    
}
#navbar{
   
    padding-right: 0.9375em; /* 15px */
    padding-left: 0.9375em; /* 15px */
    font-family: calibri;
    
    
}

#navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo a{
    font-size: 2.1875em; /* 35px */
    font-weight: 600;
    color:black;
}
/*added for responsivness*/
ul {
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
    /*added for responsivness*/
    margin-bottom: 0.3125em; /* 5px */

}

li a{
    color: black;
    font-size:  1.125em; /* 18px */
    font-weight: bold;
    margin-right: 1.5625em; /* 25px */
}

.Page:hover{
    text-decoration:underline;
}

.breadcrumbs{
    padding-left: 0.9375em; /* 15px */
    margin-top: 0;
}






















.container{
    max-width: 100%;
    height: auto;
    /*height: 350px;*/
    /* added for responsivness*/
    padding: 5em  1.25em; /* 80px 20px *//* Instead of fixed height */
    background-image: radial-gradient(circle ,#B4D6CD , #FFDA76 , #FF8C9E , #FF4E88);
    margin-bottom: 6.25em; /* 100px */

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    
   
}
.child{
    background-color: rgba(255, 255, 255, 0.677);
    /*width: 400px;
    height: 150px;*/
    /*added for responsevness*/
    width: 30%;
    padding: 1.25em; /* 20px */
    text-align: center;
    /*margin: auto;
    translate: 0 100px;*/
    border-radius: 1.25em; /* 20px */
   /* display: flex;
    justify-content: center; /* Center horizontally */
  /*  align-items: center;*/
   
    
}



/*
.Scroll{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 10px;
    margin-bottom: 100px;


}

.coache{
    background-color: rgba(128, 128, 128, 0.123);
    min-width: 200px;
    height: 400px;
    position: relative;
    margin-left: 5px;
    border-radius: 20px 20px ;
    
    
    
    
   
    
}
#coache1::before{
    content: '';
    background-color: #B4D6CD ;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
}




#coache2::before{
    content: '';
    background-color:#FFDA76;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#coache3::before,#coache7::before{
    content: '';
    background-color:#FF8C9E;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#coache4::before,#coache8::before{
    content: '';
    background-color:#FF4E88;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#coache5::before{
    content: '';
    background-color:#B4D6CD;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#coache6::before{
    content: '';
    background-color:#FFDA76;
    height: 20px;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.coacheImg{
    width: 120px;
    height: 180px;
    /*translate: 35px 25px;*/
  /*  margin-left: 40px;
    margin-top: 25px;
}


.Information{
    text-align: center;
    margin-top: 40px;
}

*/

/*
#footer{
    position:sticky;
    background-color: bisque;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 300px;
    /* added*/
    /*max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}


#contactUs{
    translate: 0 -45px;
}
.ContactIcons{
    width: 40px;
}
#phoneIcon{
    translate: -130px -40px;
}
#locationIcon{
    translate: 130px -40px;
}
#mailIcon{
    translate: 0 -40px;
}

#phone{
    translate: -173px -40px;
    
}
#mail{
    translate: 0px -75px;
}
#location{
    translate: 180px -110px;
}
#socialMedia{
    translate: 600px -250px;
}
#socialMediaIcons{
    translate: 600px -230px;
}

#copyRight{
    width: 100%;
    background-color: burlywood;
    translate: 0 -200px;
}
.try{
    translate: -600px 100px;
}
*/

#FOOTER{
    position:relative;/*removed sticky*/
    background-color: bisque;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    height: auto /*remove 300px*/;
    
    /*max-width: 100%;*/
    /*overflow: hidden;*/
    margin: 0 auto;
    /*padding: 0;*/
    padding-top: 3.125em; /* 50px */

    overflow-x: hidden; /* Prevents horizontal scrolling */
    
    

    

}
#footer{
   
    
    
    /*added*/
    display: flex;
    gap: 1.25em; /* 20px *//*removed 100*/
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 100%;

    
    
    
    
   
}

/*added*/
.contactus{
    display: flex;
    gap: 1.25em; /* 20px */
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    max-width: 100%;

    
    
}
/*added*/

/*
#contactUs{
   
     
}*/
.ContactIcons{
    width: 2.5em; /* 40px */
    /*added both tow*/
    max-width: 100%;
    height: auto;
    
     
}


/*added*/
