.parent{
    background: gold;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.parent div{
    padding: 10px;
    margin: 10px;
}
.item1{
   background: green;
}

.item2{
    background: red;
}

.item3{
    background: blue;
}

.item4{
    background: violet;
}